.btn-container{
    display: flex;
    justify-content: center;
}

.btn-container button{
    border-radius: 5px;
    height: 40px;
    width: 174px;
}

.btn h6 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 700;
}