.home-container{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background: white;
}

/* ---- topper card */

.topper-card{
    margin-bottom: 20px;
    background: #00285F;
}

.image-zone {
    padding: 62px 28px;
}


.text-zone-topper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-zone-topper h1{
    color: white;
    font-size: 22px;
    margin: 0 10px 13px 10px;
    font-weight: 700;
}

.text-zone-topper p{
    color: white;
    font-size: 14px;
    margin: 0 20px 10px 20px;
    font-weight: 400;
    padding-bottom: 50px;
}


/* ------ bottom card */

.bottom-card{
    margin-bottom: 20px;
    background: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 123px;
}

.text-zone-bottom h2 {
    color: #585858;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.region-btn button{
    width: 174px;
    height: 40px;
    margin-bottom: 13px;
}

/* 576 */
@media(min-width: 576px){

    .image-zone svg{
        height: 200px;
        width: 330px;
    }

    .text-zone-topper h1{
        font-size: 36px;
    }

    .text-zone-topper p{
        font-size: 18px;
        width: 400px;
    }

    /* ----- */

    .bottom-card{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 65px;
    }

    .region-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-zone-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-zone-bottom h2{
        padding-bottom: 10px;
    }

}

@media(min-width: 992px){

    .topper-card{
        padding: 20px 100px;
    }

    .image-zone{
        padding-bottom: 0;
    }

    .image-zone svg{
        height: 272px;
        width: 455px;
    }

    /* ----- */

    .bottom-card{
        justify-content: flex-start;
    }

    .text-zone-bottom{
        padding-left: 15px;
    }

}

@media(min-width: 1280px){

    .home-container{
        padding: 30px 150px 100px 150px;
    }
}